<div id="domBinding" style="width: 1px; min-width: 100%;">
    <h4>
        Data Binding Sample
    </h4>
    <oj-bind-dom config="[[config]]"></oj-bind-dom>
    <oj-bind-text value='[[testVal]]'></oj-bind-text>
    <p>First name: <input data-bind="value: firstName" /></p>
    <p>Last name: <input data-bind="value: lastName" /></p>
    <h2>Hello, <span data-bind="text: fullName"> </span>!</h2>

    <h4>
        Even Binding Sample
    </h4>
    <input id="input2" :class="[[classArrayObs]]" value="Text Stype" style="width:100%;max-width:18em" />
    <oj-button id="button1" on-oj-action="[[clickListener1]]">Change Stype</oj-button>

    <div id="form-container">
        <h4>
            ForEach Binding Sample
        </h4>
        <oj-button id="addPerson" class='oj-button-sm' chroming='full' on-oj-action="[[addUser]]">Add User</oj-button>
        <ul>
            <oj-bind-for-each data="[[dataProvider]]">
                <template>
                    <li>
                        <oj-bind-text value="[[$current.observableIndex]]"></oj-bind-text> : <oj-bind-text
                            value="[[$current.data.name]]"></oj-bind-text>
                        <oj-button class='oj-button-sm' chroming='half' display='icons' on-oj-action="[[removeUser]]">
                            <span slot="startIcon" class="oj-fwk-icon oj-fwk-icon-cross"></span>
                            Remove
                        </oj-button>
                    </li>
                </template>
            </oj-bind-for-each>
        </ul>
        <h4>Fruits and Vegetables</h4>
        <ul>
            <oj-bind-for-each data="[[categories]]">
                <template data-oj-as="category">
                    <li>
                        <ul>
                            <oj-bind-for-each data="[[categories.getChildDataProvider(category.data.name)]]">
                                <template data-oj-as="item">
                                    <li>
                                        <oj-bind-text value="[[category.data.name + ' : ' + item.data.name]]">
                                        </oj-bind-text>
                                    </li>
                                </template>
                            </oj-bind-for-each>
                        </ul>
                    </li>
                </template>
            </oj-bind-for-each>
        </ul>
        <h3>Oracle Park Zoo</h3>
        <oj-module config="[[moduleConfig]]"></oj-module>
        <h3>If Binding</h3>
        <oj-buttonset-one class="oj-buttonset-width-auto" value="{{buttonValue}}">
            <oj-option id="onOption" value="on">On</oj-option>
            <oj-option id="offOption" value="off">Off</oj-option>
        </oj-buttonset-one>
        <br><br>
        <div>Image will be rendered if the button is on:</div>
        <oj-bind-if test="[[buttonValue() === 'on']]">
            <oj-avatar role="img" aria-label="Avatar of alex Bartlet" size="md" initials="AB"
                src="../../../images/alex.jpg">
            </oj-avatar>
        </oj-bind-if>
        <oj-collapsible id="collapsiblePage">
            <h4 id="collapsibleHeader" slot="header">Deferred Content</h4>
            <oj-defer>
                <div data-bind="ojModule: 'components/deferredContent'">
                </div>
            </oj-defer>
        </oj-collapsible>
        <div id="subtree">
            <oj-defer>
                <div data-bind="ojModule: 'components/deferredContent'">
                </div>
            </oj-defer>
        </div>
        <div class="oj-flex oj-flex-items-pad">
            <oj-button id='activate' on-oj-action='[[activate]]'>Activate</oj-button>
        </div>
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
            <div id="moduleDemo">
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <oj-label for="f_userName">Pass Parameter</oj-label>
                        <oj-input-text id="f_userName" value="{{name}}"></oj-input-text>
                    </div>
                    <div class="oj-flex-item">
                        <oj-module config='[[moduleConfig]]'></oj-module>
                    </div>
                </div>
            </div>
        </div>
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
            <div id="moduleDemo" class="oj-flex">
                <oj-module config='[[page1Config]]' class="oj-flex-item"></oj-module>
                <oj-module config='[[page2Config]]' class="oj-flex-item"></oj-module>
            </div>
        </div>
    </div>
</div>