<div id="form-container" class="oj-form">
    <oj-label id="module1LabelId" label-id="module1LabelId">Module 1</oj-label>
    <div role="group" aria-labelledby="module1LabelId" class="oj-form-control-group">
        <oj-label for="f_userName">Name</oj-label>
        <oj-input-text id="f_userName" value="{{userName}}"></oj-input-text>
        <oj-label for="f_city">City</oj-label>
        <oj-input-text id="f_city" value="{{userCity}}"></oj-input-text>
        <oj-label for="f_state">State</oj-label>
        <oj-input-text id="f_state" value="{{userState}}"></oj-input-text>
    </div>
</div>