<div id="form-container" class="oj-form" aria-live="assertive">
    <oj-label id="module2LabelId" label-id="module2LabelId">Module 2</oj-label>
    <div role="group" aria-labelledby="module2LabelId" class="oj-form-control-group">
        <oj-label for="s_userName">Name</oj-label>
        <oj-input-text disabled="true" id="s_userName" value="{{userName}}"></oj-input-text>
        <oj-label for="s_city">City</oj-label>
        <oj-input-text disabled="true" id="s_city" value="{{userCity}}"></oj-input-text>
        <oj-label for="s_state">State</oj-label>
        <oj-input-text disabled="true" id="s_state" value="{{userState}}"></oj-input-text>
    </div>
</div>